<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete Student</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<br>
<div class="container">
    <div th:insert="fragments/top_menu">
    </div>
    <h1>Delete</h1>
    <p style="font-size: 160%"><b>Are you sure you want to delete</b></p>

<form class="forms" action="#" th:action="@{/delete}" th:object="${student}"
      method="post">



    <label for="lname">First name:</label>
    <input type="text" th:field="*{firstName}" name="fname" id="fname" /><br>
    <label for="lname">Last name:</label>
    <input type="text" th:field="*{lastName}" name="lname" id="lname" /><br>


    <input type="submit" class="btn-create-form" value="YES"> <br>

    <br>

    <input type="submit" class="btn-no" formaction="/" value="NO">


</form>
</div>
</body>
</html>