<!DOCTYPE html>
<html lang="en">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit Student</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
<br>
<div class="header">
    <h2><b>KEA</b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Student&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Courses </h2>
</div>



<form action="/create" class="forms">

    <h1>Update</h1>
    <label for="fname">First name:</label>
    <input type="text" id="fname" name="fname" th:value="${Student.firstName}"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lname" name="lname"><br><br>
    <label for="fname">Enrollment Date:</label>
    <input type="text" id="enroldate" name="enroldate" value="dd/mm/yyyy"><br><br>
    <label for="fname">CPR:</label>
    <input type="text" id="cpr" name="enroldate"><br><br>
    <input type="submit" class="btn-create-form" value="Edit">
</form>
</body>
</html>