<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Student Administration</title>
    <!-- stylesheet -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>
    <!-- TODO: MENU -->
    <!-- TODO: Table of students -->
    <div class="container">

        <div th:insert="fragments/top_menu_index"></div>

        <h1>Student administration</h1>

        <table>
            <a href="/create"><button class="btn-create"> Create</button></a><br><br>


            <tr th:each="student : ${students}">
                <td th:text="${student.firstName}"></td>
                <td th:text="${student.lastName}"></td>
                <td th:text="${student.enrollmentDate}"></td>
                <td><a th:href="@{/student/detail(id=${student.id})}"><button class="btn-create">Details</button></a>
                    <a th:href="@{'/edit/' + ${student.id}}"><button class="btn-ed">Edit</button></a>
                    <a th:href="@{'/delete/' + ${student.id}}"><button class="btn-del">Delete</button></a>

                </td>
            </tr>



        </table>
    </div>
</body>

</html>